<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style/about.css">
</head>
<body>
    <header>
        <img id="birds" src="/statics/top1.jpg">
        <div id="topmenu">
            <ul>
                <a href=""><li style="border-left: none;"> Share<hr></li></a>
                <a href=""><li> Contact<hr></li></a>
                <a href=""><li> Producs<hr></li></a>
            </ul>
        </div>
        <div id="dropdown">
            <span>menu</span>
            <ul>
                <a href=""><li style="border-left: none;"> Share<hr></li></a>
                <a href=""><li> Contact<hr></li></a>
                <a href=""><li> Producs<hr></li></a>
            </ul>
        </div>
        <h1>
        ECO<span style="color: rgb(16, 212, 16); text-decoration: black overline;">GREEN</span>
        <img src="/statics/leaf.png">
        </h1>
    </header>
    <div id="menu">
        <ul>
            <a href="index.html"><li id="ledge">Home</li></a>
            <a href="about.html"><li id="active">About</li></a>
            <a href="contact.html"><li>Contact</li></a>
            <a href=""><li id="redge">Services</li></a>
            <a href=""><li id="register">Get Registered / Login 👤️</li></a>
        </ul>
    </div>
    <a id="log" href="">Login 👤️</a>
    <div id="block1">
        <div id="content">
            <br>
            <h2>WHO WE ARE</h2>
            <p>
                ECOGREEN is a world wide preservation movement with the goal of
                preserving  and protecting our planet due to an increase in both
                man coused and natural disasters which have caused the decrease in
                population of many wild life spacies and extinction of others.<br>
                <hr>
                <br>
            </p>
            <h2>WHAT WE DO</h2>    
            <p>
                So we at ECOGREEN together with our partners fight for the preservation<br>
                and support of the remaining plant and animal fauna by providing services such as
            </p>
            <ul id="actions">
                <a href=""><li>Environmental counselling</li></a>
                <a href=""><li>Wild life support</li></a>
                <a href=""><li>Environmental suppport</li></a>
                <a href=""><li>Veterinary assistance</li></a>
            </ul>
            <br>
            <table>
                <tr>
                    <td id="partners" style="width: 35%;">
                        <ul>
                            <li class="listitle">Our Partners</li>
                            <a href=""><li>GateINc University</li></a>
                            <a href=""><li>NAHPI</li></a>
                            <a href=""><li>NatGeo Wild</li></a>
                        </ul>
                    </td>
                    <td id="locations">
                        <ul>
                            <li class="listitle">Locations</li>
                            <a href=""><li>Brasil</li></a>
                            <a href=""><li>Canada</li></a>
                            <a href=""><li>Congo</li></a>
                            <a href=""><li>Cameroon</li></a>
                        </ul>
                    </td>
                </tr>
            </table>
            <br><br>
            <p>follow us on any of the platforms below</p>
            <table id="platforms">
                <tr>
                    <td>
                        <a href=""><img src="/statics/facebook.png" alt=""></a> 
                    </td>
                    <td>
                        <a href=""><img src="/statics/instagram.png" alt=""></a> 
                    </td>
                    <td>
                        <a href=""><img src="/statics/twitter.png" alt=""></a> 
                    </td> 
                </tr>
            </table>
        </div>
        <!-- <div id="deco">
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
            <a href=""><hr></a>
        </div> -->
    </div>
</body>
</html>