<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/style/contact.css">
</head>
<body>
    <header>
        <h2>GATE<span style="color: rgb(101, 233, 101);">Inc</span></h2>
    </header>
    <hr>
    <div id="menu">
        <ul>
            <a href="index.html"><li id="ledge">Home</li></a>
            <a href="about.html"><li>About</li></a>
            <a href=""><li id="active">Contact</li></a>
            <a href=""><li id="redge">Services</li></a>
            <a href=""><li id="register">Get Registered / sign-in 👤️</li></a>
        </ul>
    </div>
    <div id="block1">
        <img id="back" src="/statics/contact.jpg" alt="" id="bg">
        <div id="content">
            <ul>
                <li>
                    <h3> Adress</h3>
                    <p style="color: rgb(85, 235, 85)">Comercial avenue Bamenda,<br> CAMCCUL building 8<sup>th</sup>floor,<br>POBox 127237</p>
                </li>
                <li>
                    <br>
                    <h3>Lets talk</h3>
                    <a href="" ><p>+237680717839</p></a>
                </li>
                <li>
                    <br>
                    <h3>Support</h3>
                    <a href=""><p>gateinc@gmail.com</p></a>
                </li>
                <div id="platforms">
                    <br>
                    <hr style="width: 74%; margin-left: -3px;">
                    <br>
                    <p>follow us on any of the platforms below</p>
                    <table id="platforms">
                        <tr>
                            <td>
                                <a href=""><img src="/statics/facebook.png" alt=""></a> 
                            </td>
                            <td>
                                <a href=""><img src="/statics/instagram.png" alt=""></a> 
                            </td>
                            <td>
                                <a href=""><img src="/statics/twitter.png" alt=""></a> 
                            </td> 
                        </tr>
                    </table>
                </div>
            </ul>
        </div>
        <div id="entry">
            <form>
                <h3>Send us a message</h3>
                <div class="forminfo">
                    <h4>Enter your name</h4>
                    <ul>
                        <li>
                            <input type="text" name="first-name"  title="FIRST NAME" placeholder="FIRST NAME" required>
                        </li>
                        <li>
                            <input type="text" name="last-name"  title="LAST NAME" placeholder="LAST NAME" required>
                        </li>
                    </ul>
                </div>
                <div class="forminfo">
                    <h4>Your Email</h4>
                    <ul>
                        <li>
                            <input type="email" name="email" title="email" placeholder="example@gmail.com" required>
                        </li>
                    </ul>
                </div>
                <div class="forminfo">
                    <h4>Your contact</h4>
                    <ul>
                        <li>
                            <input type="number" name="phone" placeholder="+80088811100">
                        </li>
                    </ul>
                </div>
                <div >
                    <h4>Compose message</h4>
                    <ul>
                        <li>
                            <input type="text" name="message" required>
                        </li>
                        <li>
                            <input type="submit" name="submit" value="SEND" id="submit">
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>
</html>