<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>webtest</title>
    <link rel="stylesheet" href="/style/index.css">
    <script src="/script/index.js"></script>

</head>
<body>
    <div id="head">
        <h1 id="ecogreen">
            ECO<span class="g" style="font-style: normal; color: rgb(23, 228, 23); text-decoration: white overline;">GREEN</span>
            <img id="top" src="/statics/leaf.png">
        </h1>
        <ul>
            <a href="">
                <li class="others">
                    Share
                </li>
            </a>
            <a href="">
                <li class="others">
                    Contact
                </li>
            </a>
            <a href="">
                <li class="others">
                    Products
                </li>
            </a>
        </ul>
    </div>
    <div id="menu">
        <ul>
            <a href="index.html"><li id="active">Home</li></a>
            <a href="about.html"><li>About</li></a>
            <a href="contact.html"><li>Contact</li></a>
            <a href=""><li>Services</li></a>
            <a href=""><li id="register">Get Registered / sign-in 👤️</li></a>
        </ul>
    </div>
    <a id="log">Login 👤️</a>
    <div id="dropdown">
        <span>
            menu
        </span>
        <ul>
            <a href="index.html"><li id="active">Home</li></a>
            <a href="about.html"><li>About</li></a>
            <a href="contact.html"><li>Contact</li></a>
            <a href=""><li>Services</li></a>
        </ul>
    </div>
    <div id="block1">
        <img src="/statics/tree.png">
        <h1>
            HELP <br>
            SAVE OUR PLANET<br>
            <sub>get to us for donations, support, advice, and councelling on our environment</sub>
        </h1>
        <h2>
            <a href="">
            HELP <br>
            SAVE THE WORLD
            </a>
        </h2>
    </div>
    <p>
        <img src="/statics/leaf.png" id="foot"><br>
        What's stopping You ?<br>
        Over <span style="color: rgb(66, 211, 66);">+10000</span> people and organisatios already<br>
        Support us
    </p>
    <table>
        <tr>
            <td id="offers">
                <ul>
                    <li class="listitle">Our Services</li>
                    <a href=""><li>Environmental counselling</li></a>
                    <a href=""><li>Wild life support</li></a>
                    <a href=""><li>Environmental suppport</li></a>
                    <a href=""><li>Veterinary assistance</li></a>
                </ul>
            </td>
            <td id="partners">
                <ul>
                    <li class="listitle">Our Partners</li>
                    <a href=""><li>GateINc University</li></a>
                    <a href=""><li>NAHPI</li></a>
                    <a href=""><li>NatGeo Wild</li></a>
                </ul>
            </td>
            <td id="locations">
                <ul>
                    <li class="listitle">Locations</li>
                    <a href=""><li>Brasil</li></a>
                    <a href=""><li>Canada</li></a>
                    <a href=""><li>Congo</li></a>
                    <a href=""><li>Cameroon</li></a>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <div id="platforms">
        <ul>
            <li>follow us: </li>
            <a href=""><li><img  class="plat" src="/statics/facebook.png" alt=""></li></a> 
            <a href=""><li><img class="plat" src="/statics/instagram.png" alt=""></li></a> 
            <a href=""><li><img class="plat" src="/statics/twitter.png" alt=""></li></a> 
        </ul>
    </div>
</body>
</html>